---
- name: install_apache_httpd
  yum: name='httpd' state='present'

- name: start and enable apache httpd on boot
  service: name='httpd' state=started enabled=yes

- name: install_xinetd
  yum: name='xinetd' state='present'

- name: install_tftp-server
  yum: name='tftp-server' state='present'

- name: configure_tftp
  lineinfile: dest=/etc/xinetd.d/tftp regexp="disable" line="        disable                 = no"

- name: copy_ipxe_chainboot
  copy: src=undionly.kkpxe dest=/var/lib/tftpboot/undionly.kkpxe owner=root group=root mode="0644"

- name: copy_ipxe_chainboot
  copy: src=undionly.kpxe dest=/var/lib/tftpboot/undionly.kpxe owner=root group=root mode="0644"

- name: copy_uefi_chainboot
  copy: src=ipxe-x86.efi dest=/var/lib/tftpboot/ipxe-x86.efi owner=root group=root mode="0644"

- name: create_dhcpd_config_dir
  file: path=/etc/dhcp/dhcpd.d state=directory owner=root group=root mode="0755"

- name: create_dhcp_config
  template: src=dhcp_nodes.conf dest="/etc/dhcp/dhcpd.d/dhcp_nodes.conf"
  when: groups[dhcp_group] is defined
  notify:
    - restart dhcpd

- name: create_dhcp_ipxe_configs
  template: src=dhcp_pxe_nodes.conf dest="/etc/dhcp/dhcpd.d/dhcp_pxe_nodes.conf"
  when: groups[dhcp_pxe_group] is defined
  notify:
    - restart dhcpd
    
- name: install restorecon for selinux
  package:
    name: policycoreutils
    state: installed

- name: ipxe_selinux_context
  command: restorecon -Rv /var/lib/tftpboot/

- name: copy_pxe_bootscript
  copy: src=boot.py dest=/var/www/cgi-bin/boot.py owner=apache group=apache mode="0550"

- name: create_pxe_boot_data
  template: src=pxe_node.conf dest="/var/www/provision/nodes/{{ item | regex_replace('^([^\.]*).*$', '\\1')  }}.conf"
  with_items: "{{ groups[dhcp_pxe_group] }}"
  when: groups[dhcp_pxe_group] is defined


- name: copy_dhcp_pxe_option_config
  copy: src=ipxe.conf dest=/etc/dhcp/dhcpd.d/ipxe.conf owner=root group=root mode="0644"

- name: create_pxe_directory_structure
  file: path=/var/www/provision state=directory owner=root group=root mode="0755"

- name: create_pxe_directory_structure
  file: path=/var/www/provision/nodes state=directory owner=apache group=apache mode="0755"

- name: create_pxe_directory_structure
  file: path=/var/www/provision/reinstall state=directory owner=apache group=apache mode="0755"

- name: create_memtest_86_directory_structure
  file: path=/var/www/provision/memtest86 state=directory owner=apache group=apache mode="0755"

- name: create_pxe_directory_structure
  file: path=/var/www/html/kickstart state=directory owner=apache group=apache mode="0755"

- name: apache_selinux_context
  command: restorecon -Rv /var/www/provision/

- name: create_kickstart_group_files
  template: src=kickstart.j2 dest="/var/www/html/kickstart/{{item}}.ks"
  with_items: "{{ groups }}"
  when:
    - groups[item][0] is defined
    - hostvars[groups[item][0]]['os_disks'] is defined

- name: copy memtest.0 PXE NBP
  copy: src=memtest.0 dest=/var/www/memtest.0 owner=apache group=apache mode="0440"
