install
text
network

# The hostvars[groups[item][0]]['install_repo'] pattern is used in this template
# Ansible has no way of accessing a group's variables, so they are accessed
# via the first host of the group.
#
# What this means is that these template files are deployed onto one host
# but they are created per host group. The variables are only taken
# from the deployed host's group_var files and not from the
# target hosts' group_var files. This complex pattern bypasses this limitation. 

url --url {{ hostvars[groups[item][0]]['install_repo'] }}
{% for repo in hostvars[groups[item][0]]['additional_repos'] %}
repo --name={{ repo.name }} --baseurl={{ repo.url }}
{% endfor %}
lang {{ hostvars[groups[item][0]]['lang'] | default(lang) }}
keyboard {{ hostvars[groups[item][0]]['keyboard'] | default(keyboard) }}
zerombr
bootloader --location=mbr --append elevator=deadline
timezone {{ hostvars[groups[item][0]]['timezone'] | default(timezone) }}
auth --enableshadow --passalgo=sha512
rootpw --iscrypted {{ hostvars[groups[item][0]]['root_password_hash'] }}
selinux --disabled
reboot
firewall --service=ssh
skipx
services --enabled=ntpd

clearpart --all --drives={{ hostvars[groups[item][0]]['os_disks'] }} --initlabel
ignoredisk --only-use={{ hostvars[groups[item][0]]['os_disks'] }}

{% for line in hostvars[groups[item][0]]['kickstart_partitions'] %}
{{ line }}
{% endfor %}

{% include hostvars[groups[item][0]]['kickstart_packagesfile'] | default(kickstart_packagesfile) %}

{% for postfile in hostvars[groups[item][0]]['kickstart_postfiles'] | default(kickstart_postfiles) %}
{%   include postfile %}
{% endfor %}
