install
text
network --noipv6

# The hostvars[groups[item][0]]['install_repo'] pattern is used in this template
# Ansible has no way of accessing a group's variables, so they are accessed
# via the first host of the group.

{% if hostvars[groups[item][0]]['yum_proxy'] is defined %}
url --url {{ hostvars[groups[item][0]]['install_repo'] }} --proxy={{ hostvars[groups[item][0]]['yum_proxy'] }}
{% else %}
url --url {{ hostvars[groups[item][0]]['install_repo'] }}
{% endif %}

{% for repo in hostvars[groups[item][0]]['additional_repos'] %}
{% if hostvars[groups[item][0]]['yum_proxy'] is defined %}
repo --name={{ repo.name }} --baseurl={{ repo.url }} --proxy={{ hostvars[groups[item][0]]['yum_proxy'] }}
{% else %}
repo --name={{ repo.name }} --baseurl={{ repo.url }}
{% endif %}
{% endfor %}
lang {{ hostvars[groups[item][0]]['kickstart_lang'] | default('en_US.UTF-8') }}
keyboard {{ hostvars[groups[item][0]]['kickstart_keyboard'] | default('fi-latin1') }}
zerombr
bootloader --location=mbr --append elevator=deadline
timezone {{ hostvars[groups[item][0]]['kickstart_timezone'] | default('Europe/Helsinki') }}
auth --enableshadow --passalgo=sha512
rootpw --iscrypted {{ hostvars[groups[item][0]]['root_password_hash'] }}
selinux --disabled
reboot
firewall --service=ssh
skipx
services --enabled=ntpd

{% if hostvars[groups[item][0]]['kickstart_log_host'] is defined %}
logging --host={{ hostvars[groups[item][0]]['kickstart_log_host'] }}
{% endif %}

clearpart --all --drives={{ hostvars[groups[item][0]]['os_disks'] }} --initlabel
ignoredisk --only-use={{ hostvars[groups[item][0]]['os_disks'] }}

{% for line in hostvars[groups[item][0]]['kickstart_partitions'] %}
{{ line }}
{% endfor %}

{% if hostvars[groups[item][0]]['dhcp_kickstart_manage_packages'] is not defined %}
%packages
@ Base
-NetworkManager
-NetworkManager-bluetooth
-NetworkManager-libnm
-NetworkManager-tui
-NetworkManager-adsl
-NetworkManager-wifi
-NetworkManager-glib
-NetworkManager-team
-NetworkManager-wwan
{% if dhcp_kickstart_install_chrony == false %}
-chrony
{% endif %}
{% if hostvars[groups[item][0]]['kickstart_packages'] is defined %}
{{ hostvars[groups[item][0]]['kickstart_packages'] }}
{% endif %}
{% else %}
{% if hostvars[groups[item][0]]['kickstart_packages'] is defined %}
{{ hostvars[groups[item][0]]['kickstart_packages'] }}
{% endif %}
{% endif %}
%end

{% if hostvars[groups[item][0]]['kickstart_pre_option'] is defined %}
{% if hostvars[groups[item][0]]['kickstart_extra_pre_commands'] is defined %}
####### Extra PRE commands
{{ hostvars[groups[item][0]]['kickstart_pre_option'] }}
{{ hostvars[groups[item][0]]['kickstart_extra_pre_commands'] }}
%end
{% endif %}
{% endif %}

%post --interpreter /bin/bash --log /root/ks-post.log.1
mkdir -p /root/.ssh
{% for key in hostvars[groups[item][0]]['root_keys'] %}
echo "{{ key }}" >> /root/.ssh/authorized_keys
{% endfor %}
chmod 700 /root/.ssh
chmod 600 /root/.ssh/authorized_keys
%end

%post --interpreter /bin/bash --log /root/ks-post.log.2
# Add mellanox ethernet modules to autoload on boot. This way, if a host has a
# mellanox card, it will come up in the ethernet mode.
echo mlx4_en >>/etc/modules-load.d/mlx4.conf
echo bonding >>/etc/modules-load.d/bonding.conf
modprobe mlx4_en
modprobe mlx4_ib
modprobe mlx4_core
modprobe bonding

#Disable NetworkManger service
systemctl stop NetworkManager
systemctl disable NetworkManager

# Disable Ipv6 at the kernel level
echo "net.ipv6.conf.all.disable_ipv6 = 1" >> /etc/sysctl.conf
echo "net.ipv6.conf.default.disable_ipv6 = 1" >> /etc/sysctl.conf

{% if hostvars[groups[item][0]]['kickstart_extra_post_commands'] is defined %}
####### Extra POST commands
{{ hostvars[groups[item][0]]['kickstart_extra_post_commands'] }}
{% endif %}

/sbin/grubby --update-kernel=`/sbin/grubby --default-kernel` --args="console=tty0 console=ttyS1,19200n8 ipv6.disable=1 numa={{ hostvars[groups[item][0]]['kernel_numa_param'] | default('on') }}"
# End post install kernel options update
%end
